<h1>Marketing Tickets</h1>
<table class="striped">
    <thead>
        <tr>
            <th class="center-align" style="position:relative; right:10px">Unassigned</th>
            <th class="center-align" style="position:relative; right:45px">In-Progress</th>
            <th class="left-align" style="position: relative; left:110px">Complete</th>
        
    
        </tr>
    </thead>
</table>


<div class="row">
    
    <div class="col s12 m4 l3">
        {{#each tickets}}

            {{#if (isUnassigned status)}}
            <div class="grid">
            
                
                <div class="row">
                    <div class="card">
                        <div class="card-image">
                            {{{editIcon _id}}}
                        </div>

                        

                        <div class="card-content center-align">
                        
                            <h5>{{title}}</h5>
                            <p><b>Status:</b> <span style="text-transform:uppercase">{{status}}</span></p>
                            <p>{{stripBreakSpace (stripTags (truncate body 150))}}</p>
                            <br>
                            <div class="chip">
                                <img src="{{user.image}}" alt="">
                                <a href="/tickets/user/{{user._id}}">{{user.displayName}}</a>
                            </div>
                            
                        </div>

                        <div class="card-action center-align">
                            <a href="/tickets/{{_id}}" class="btn grey">Read More</a>

                        </div>
                        
                        

                    </div>
                </div>

                

            </div>
            {{/if}}

        {{else}}
            <p>No tickets to display</p>

        {{/each}}
    </div>

    <div class="col s12 m4 l3">
        {{#each tickets}}

            {{#if (isInProgress status)}}
            <div class="grid">
            
                
                <div class="row">
                    <div class="card">
                        <div class="card-image">
                            {{{editIcon _id}}}
                        </div>

                        

                        <div class="card-content center-align">
                        
                            <h5>{{title}}</h5>
                            <p><b>Status:</b> <span style="text-transform:uppercase">{{status}}</span></p>
                            <p>{{stripBreakSpace (stripTags (truncate body 150))}}</p>
                            <br>
                            <div class="chip">
                                <img src="{{user.image}}" alt="">
                                <a href="/tickets/user/{{user._id}}">{{user.displayName}}</a>
                            </div>
                            
                        </div>

                        <div class="card-action center-align">
                            <a href="/tickets/{{_id}}" class="btn grey">Read More</a>

                        </div>
                        
                        

                    </div>
                </div>

                

            </div>
            {{/if}}

        {{else}}
            <p>No tickets to display</p>

        {{/each}}
    </div>


    <div class="col s12 m4 l3">
        {{#each tickets}}

            {{#if (isComplete status)}}
            <div class="grid">
            
                
                <div class="row">
                    <div class="card">
                        <div class="card-image">
                            {{{editIcon _id}}}
                        </div>

                        

                        <div class="card-content center-align">
                        
                            <h5>{{title}}</h5>
                            <p><b>Status:</b> <span style="text-transform:uppercase">{{status}}</span></p>
                            <p>{{stripBreakSpace (stripTags (truncate body 150))}}</p>
                            <br>
                            <div class="chip">
                                <img src="{{user.image}}" alt="">
                                <a href="/tickets/user/{{user._id}}">{{user.displayName}}</a>
                            </div>
                            
                        </div>

                        <div class="card-action center-align">
                            <a href="/tickets/{{_id}}" class="btn grey">Read More</a>

                        </div>
                        
                        

                    </div>
                </div>

                

            </div>
            {{/if}}

        {{else}}
            <p>No tickets to display</p>

        {{/each}}
    </div>
</div>